* {
  /* box-sizing: border-box; */
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(219, 219, 219);
  margin: 0;
}

img {
  margin: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* padding: 2rem; */
  width: 200px;
}

a {
  text-decoration: none;
  text-decoration: solid;
}
